<mat-dialog-content class="mat-typography">
  <form [formGroup]="editForm">
    <div class="edit-form-field">
      <p>Change supertype</p>
      <mat-form-field appearance="fill">
        <mat-label>Select supertype</mat-label>
        <mat-select formControlName="supertypeEdit">
          <mat-option
            *ngFor="let supertype of supertypes$ | async"
            [value]="supertype"
          >
            {{ supertype }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="edit-form-field">
      <p>Change type</p>
      <mat-form-field appearance="fill">
        <mat-label>Select type</mat-label>
        <mat-select formControlName="typeEdit">
          <mat-option *ngFor="let type of types$ | async" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="edit-form-field">
      <p>Change subtype</p>
      <mat-form-field appearance="fill">
        <mat-label>Select subtype</mat-label>
        <mat-select formControlName="subtypeEdit">
          <mat-option
            *ngFor="let subtype of subtypes$ | async"
            [value]="subtype"
          >
            {{ subtype }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="edit-form-field">
      <p>Change hit point</p>
      <mat-form-field class="input-form-field">
        <mat-label>Hit points</mat-label>
        <input
          matInput
          placeholder="{{ data.card.hp }}"
          type="text"
          formControlName="hitPointsEdit"
        />
        <mat-hint *ngIf="editForm.get('hitPointsEdit')?.hasError('pattern')"
          ><strong>Only numbers</strong>
        </mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="editCard()">Apply changes</button>
</mat-dialog-actions>
