<div class="card-container">
  <mat-card
    *ngFor="let card of cardListPageData$ | async; index as i"
    (click)="openCardDialog(card)"
    id="card-{{ i }}"
    class="card"
  >
    <img
      mat-card-image
      src="{{ card.images.small }}"
      alt="Photo of a pokemon"
    />
  </mat-card>
</div>

<mat-paginator
  *ngIf="!(showNoDataDisclaimer$ | async)"
  [length]="totalItems$ | async"
  [pageSize]="pageSize"
  [pageIndex]="currentPage$ | async"
  (page)="pageChanged($event)"
>
</mat-paginator>

<ng-container *ngIf="showNoDataDisclaimer$ | async">
  <p class="no-data-info">There are no matching cards</p>
</ng-container>
