<ng-container *ngIf="cards$ | async">
  <app-search-bar
    class="search-bar"
    [initStateCards]="initStateCards"
  ></app-search-bar>
  <div class="card-list">
    <mat-card
      *ngFor="let card of cards$ | async"
      (click)="selectCard(card)"
      class="card"
    >
      <img
        mat-card-image
        src="{{ card.images.small }}"
        alt="Photo of a pokemon"
      />
      <mat-card-actions align="end">
        <button mat-button (click)="openCardDialog(card)">More...</button>
      </mat-card-actions>
    </mat-card>
    <ng-container *ngIf="showNoDataDisclaimer$ | async">
      <p>There are no matching cards</p>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="!(cards$ | async)">
  <mat-spinner></mat-spinner>
</ng-container>
