:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar {
  height: 10%;
  width: 100%;
  box-shadow: -1px -3px 28px -7px rgba(66, 68, 90, 0.44);
}

.card-list {
  height: 90%;
  width: 100%;
  margin: 0 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  min-width: 200px;
  margin: 20px;
  padding: 10px;
}

img {
  max-width: 200px;
}

.mdc-card__actions {
  padding: 0;
}
